.mde-header {
	display: none;
}
.mde-header .mde-tabs {
	display: none;
}
.editor-container {
	flex: 1 1 0px;
	display: flex;
	flex-direction: column;
}
.react-mde-wrapper {
	width: 100%;
	max-width: 1800px;
	align-self: center;
}

/* /// HEADER //// */

.editor-header {
	display: flex;
	background-color: #f5f5f5;
	align-content: center;
}
.editor-header > * {
	flex: 1 1 0px;
	font-family: var(--font-primary);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 2px;
	color: var(--color-500);
	padding: 12px;
}
.editor-header button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin-left: auto;
}
.editor-header-right {
	display: flex;
	justify-content: space-between;
}
/* /// EDITOR //// */

.react-mde,
.react-mde-wrapper {
	display: flex;
	flex-direction: row;
	flex: 1 1 0px;
	justify-content: center;
}
.react-mde > * {
	flex: 1 1 0px;
}
.mde-textarea-wrapper {
	width: 100%;
	height: 100%;
	flex: 1 1 0px;
}
.mde-text {
	width: 100%;
	height: 100% !important;
	flex: 1 1 0px;
	resize: none;
	border: none;
	border-right: 1px solid var(--color-300);
	padding: 16px;
}
.mde-text:focus {
	outline: none;
}

/* EDITOR */

.mde-text {
	font-family: var(--font-secondary);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: var(--color-700);
}

.mde-preview {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	padding: 20px;
	padding-bottom: 55px;
}
.mde-preview div > * {
	margin-bottom: 20px;
}
.mde-preview h1 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 42px;
}
.mde-preview h2 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 37px;
}
.mde-preview h3 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}
.mde-preview h4 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}
.mde-preview h5 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}
.mde-preview h6 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: var(--accent);
}
.mde-preview p {
	color: var(--color-500);
}
.mde-preview ol {
	padding-left: 24px;
}
.mde-preview ul {
	padding-left: 24px;
}
.mde-preview li {
	list-style-position: inside;
}
.mde-preview li::marker {
	color: var(--accent);
}

.mde-preview blockquote p {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	background: var(--color-200);
	color: var(--color-700);
	border-radius: 4px;
	padding: 24px;
	border-left: 4px solid var(--accent);
}
.mde-preview pre {
	background-color: var(--color-200);
	color: var(--color-700);
	padding: 24px;
	border-radius: 4px;
}
.mde-preview pre p {
	color: var(--color-700);
}

/* PREVIEW ONLY */
.preview-icon {
	height: 100%;
	aspect-ratio: 1;
}
.preview .invisible {
	display: none;
}
.preview .mde-preview {
	max-width: 1000px;
}
.preview .editor-header-left {
	display: none;
}

/*  DARK THEME */
[data-theme='dark'] .editor-header {
	background-color: var(--color-900);
	color: var(--color-400);
}

[data-theme='dark'] .mde-text,
[data-theme='dark'] .react-mde-wrapper {
	background-color: var(--color-1000);
	color: var(--color-400);
}
[data-theme='dark'] .mde-preview blockquote p {
	background-color: var(--color-800);
	color: var(--color-100);
}
[data-theme='dark'] .mde-preview blockquote p a {
	color: var(--color-100);
}
[data-theme='dark'] .mde-preview :is(h1, h2, h3, h4, h5, h6) {
	color: var(--color-100);
}
[data-theme='dark'] .mde-text {
	border-right: 1px solid var(--color-600);
}

@media only screen and (max-width: 640px) {
	.mde-preview {
		display: none;
	}
	.editor-header-right .title {
		display: none;
	}
	.preview .mde-preview {
		display: block;
	}
	.preview .editor-header-right .title {
		display: block;
	}
	body,
	#root,
	.App,
	.main {
		height: 100vh;
		overflow: hidden;
	}
	.editor-container,
	.react-mde-wrapper {
		height: 100%;
		overflow: hidden;
	}
	.mde-preview {
		overflow: scroll;
	}
}
@media only screen and (min-width: 640px) {
	.react-mde > * {
		width: 50vw;
	}
}
