.mde-header {
	display: none;
}
.mde-header .mde-tabs {
	display: none;
}
.editor-container {
	flex: 1 1 0px;
	display: flex;
	flex-direction: column;
}
/* /// HEADER //// */

.editor-header {
	display: flex;
	background-color: #f5f5f5;
	align-content: center;
}
.editor-header > * {
	flex: 1 1 0px;
	font-family: var(--font-primary);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 2px;
	color: var(--color-500);
	padding: 12px;
}
.editor-header button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.editor-header-right {
	display: flex;
	justify-content: space-between;
}
/* /// EDITOR //// */

.react-mde,
.react-mde-wrapper {
	display: flex;
	flex-direction: row;
	flex: 1 1 0px;
	justify-content: center;
}
.react-mde > * {
	flex: 1 1 0px;
}
.mde-textarea-wrapper {
	width: 100%;
	height: 100%;
	flex: 1 1 0px;
}
.mde-text {
	width: 100%;
	height: 100% !important;
	flex: 1 1 0px;
	resize: none;
	border: none;
	border-right: 1px solid var(--color-300);
	padding: 16px;
}
.mde-text:focus {
	outline: none;
}

/* EDITOR */

.mde-text {
	font-family: var(--font-secondary);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: var(--color-700);
}

.mde-preview {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	padding: 20px;
}
.mde-preview div > * {
	margin-bottom: 20px;
}
.mde-preview h1 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 42px;
}
.mde-preview h2 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 37px;
}
.mde-preview h3 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}
.mde-preview h4 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}
.mde-preview h5 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}
.mde-preview h6 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: var(--accent);
}
.mde-preview p {
	color: var(--color-500);
}
.mde-preview ol {
	padding-left: 24px;
}
.mde-preview ul {
	padding-left: 24px;
}
.mde-preview li {
	list-style-position: inside;
}
.mde-preview li::marker {
	color: var(--accent);
}

.mde-preview blockquote p {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	background: var(--color-200);
	color: var(--color-700);
	border-radius: 4px;
	padding: 24px;
	border-left: 4px solid var(--accent);
}
.mde-preview pre {
	background-color: var(--color-200);
	color: var(--color-700);
	padding: 24px;
	border-radius: 4px;
}
.mde-preview pre p {
	color: var(--color-700);
}

/* PREVIEW ONLY */
.preview-icon {
	height: 100%;
	aspect-ratio: 1;
}
.preview .invisible {
	display: none;
}
.preview .mde-preview {
	max-width: 1000px;
}
.preview .editor-header-left {
	display: none;
}
/* [data-theme='dark'] * {
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-theme='white'] * {
	transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
} */
[data-theme='dark'] .editor-header {
	background-color: var(--color-900);
	color: var(--color-400);
}

[data-theme='dark'] .mde-text,
[data-theme='dark'] .react-mde-wrapper {
	background-color: var(--color-1000);
	color: var(--color-400);
}
[data-theme='dark'] .mde-preview blockquote p {
	background-color: var(--color-800);
	color: var(--color-100);
}
[data-theme='dark'] .mde-preview :is(h1, h2, h3, h4, h5, h6) {
	color: var(--color-100);
}
[data-theme='dark'] .mde-text {
	border-right: 1px solid var(--color-600);
}
/* 
.mde-textarea-wrapper {
	height: 100%;
}
.mde-textarea-wrapper textarea.mde-text {
	height: 100% !important;
}

.invisible {
	border-right: 1px solid #e4e4e4;
}

.editor-header {
	display: flex;
	background-color: #f5f5f5; 
}
.editor-header > * {
	flex: 1 1 0px;
}
.react-mde.react-mde-tabbed-layout {
	height: 100%;
	display: flex;
}
.react-mde * {
	flex: 1 1 0px;
}
.preview .react-mde.react-mde-tabbed-layout {
	display: flex;
	justify-content: center;
}
.preview .mde-preview {
	max-width: 600px;
}

.editor-header-right {
	display: flex;
	justify-content: space-between;
}
.preview .editor-header-left,
.preview .invisible {
	display: none !important;
}

.mde-header {
	flex-shrink: 0;
	flex-wrap: wrap;
	align-items: stretch;
	border-bottom: 1px solid #c8ccd0;
	border-radius: 2px 2px 0 0;
	background: #f9f9f9;
}
.mde-header .mde-tabs {
	display: flex;
	flex-direction: row;
}

.editor-container {
	height: 100%;
	flex: 1;
}
.mde-text {
	width: 100%;
}
.mde-preview {
	width: 100%;
	height: 100%;
} */
/* ///////////////// */
/* 
.mde-header {
	flex-shrink: 0;
	flex-wrap: wrap;
	align-items: stretch;
	border-bottom: 1px solid #c8ccd0;
	border-radius: 2px 2px 0 0;
	background: #f9f9f9;
}
.mde-header .mde-tabs {
	display: flex;
	flex-direction: row;
}
.mde-header .mde-tabs button {
	border-radius: 2px;
	margin: 6px 3px;
	background-color: transparent;
	border: 1px solid transparent;
	cursor: pointer;
}
.mde-header .mde-tabs button:first-child {
	margin-left: 6px;
}
.mde-header .mde-tabs button.selected {
	border: 1px solid #c8ccd0;
}
.mde-header .svg-icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	font-size: inherit;
	overflow: visible;
	vertical-align: -0.125em;
}
.mde-header ul.mde-header-group {
	margin: 0;
	padding: 10px;
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
}
.mde-header ul.mde-header-group.hidden {
	visibility: hidden;
}
.mde-header ul.mde-header-group li.mde-header-item {
	display: inline-block;
	position: relative;
	margin: 0 4px;
}
.mde-header ul.mde-header-group li.mde-header-item button {
	text-align: left;
	cursor: pointer;
	height: 22px;
	padding: 4px;
	margin: 0;
	border: none;
	background: none;
	color: #242729;
}

@keyframes tooltip-appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.mde-header ul.mde-header-group li.mde-header-item button.tooltipped:hover::before {
	animation-name: tooltip-appear;
	animation-duration: 0.2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	opacity: 0;
	position: absolute;
	z-index: 1000001;
	width: 0;
	height: 0;
	color: rgba(0, 0, 0, 0.8);
	pointer-events: none;
	content: '';
	border: 5px solid transparent;
	top: -5px;
	right: 50%;
	bottom: auto;
	margin-right: -5px;
	border-top-color: rgba(0, 0, 0, 0.8);
}
.mde-header ul.mde-header-group li.mde-header-item button.tooltipped:hover::after {
	animation-name: tooltip-appear;
	animation-duration: 0.2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	font-size: 11px;
	opacity: 0;
	position: absolute;
	z-index: 1000000;
	padding: 5px 8px;
	color: #fff;
	pointer-events: none;
	content: attr(aria-label);
	background: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	right: 50%;
	bottom: 100%;
	transform: translateX(50%);
	margin-bottom: 5px;
	white-space: nowrap;
}

.mde-textarea-wrapper {
	position: relative;
}
.mde-textarea-wrapper textarea.mde-text {
	width: 100%;
	border: 0;
	padding: 10px;
	vertical-align: top;
	resize: vertical;
	overflow-y: auto;
}

.mde-preview .mde-preview-content {
	padding: 10px;
}
.mde-preview .mde-preview-content p,
.mde-preview .mde-preview-content blockquote,
.mde-preview .mde-preview-content ul,
.mde-preview .mde-preview-content ol,
.mde-preview .mde-preview-content dl,
.mde-preview .mde-preview-content table,
.mde-preview .mde-preview-content pre {
	margin-top: 0;
	margin-bottom: 16px;
}
.mde-preview .mde-preview-content h1,
.mde-preview .mde-preview-content h2,
.mde-preview .mde-preview-content h3 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
	border-bottom: 1px solid #eee;
	padding-bottom: 0.3em;
}
.mde-preview .mde-preview-content h1 {
	font-size: 1.6em;
}
.mde-preview .mde-preview-content h2 {
	font-size: 1.4em;
}
.mde-preview .mde-preview-content h3 {
	font-size: 1.2em;
}
.mde-preview .mde-preview-content ul,
.mde-preview .mde-preview-content ol {
	padding-left: 2em;
}
.mde-preview .mde-preview-content blockquote {
	margin-left: 0;
	padding: 0 1em;
	color: #777;
	border-left: 0.25em solid #ddd;
}
.mde-preview .mde-preview-content blockquote > :first-child {
	margin-top: 0;
}
.mde-preview .mde-preview-content blockquote > :last-child {
	margin-bottom: 0;
}
.mde-preview .mde-preview-content code {
	padding: 0.2em 0 0.2em 0;
	margin: 0;
	font-size: 90%;
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 3px;
}
.mde-preview .mde-preview-content code::before,
.mde-preview .mde-preview-content code::after {
	letter-spacing: -0.2em;
	content: '\00a0';
}
.mde-preview .mde-preview-content pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f7f7f7;
	border-radius: 3px;
}
.mde-preview .mde-preview-content pre code {
	display: inline;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}
.mde-preview .mde-preview-content pre code::before,
.mde-preview .mde-preview-content pre code::after {
	content: none;
}
.mde-preview .mde-preview-content pre > code {
	padding: 0;
	margin: 0;
	font-size: 100%;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}
.mde-preview .mde-preview-content a {
	color: #4078c0;
	text-decoration: none;
}
.mde-preview .mde-preview-content a:hover {
	text-decoration: underline;
}
.mde-preview .mde-preview-content > *:first-child {
	margin-top: 0 !important;
}
.mde-preview .mde-preview-content > *:last-child {
	margin-bottom: 0 !important;
}
.mde-preview .mde-preview-content::after {
	display: table;
	clear: both;
	content: '';
}
.mde-preview .mde-preview-content table {
	display: block;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.mde-preview .mde-preview-content table thead th {
	font-weight: bold;
}
.mde-preview .mde-preview-content table th,
.mde-preview .mde-preview-content table td {
	padding: 6px 13px;
	border: 1px solid #c8ccd0;
}

.react-mde {
	border: 1px solid #c8ccd0;
	border-radius: 2px;
}
.react-mde * {
	box-sizing: border-box;
}
.react-mde .image-tip {
	user-select: none;
	display: flex !important;
	padding: 7px 10px;
	margin: 0;
	font-size: 13px;
	line-height: 16px;
	color: gray;
	background-color: #f9f9f9;
	border-top: 1px solid #c8ccd0;
	position: relative;
}
.react-mde .image-tip .image-input {
	min-height: 0;
	opacity: 0.01;
	width: 100% !important;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	cursor: pointer;
}

ul.mde-suggestions {
	position: absolute;
	min-width: 180px;
	padding: 0;
	margin: 20px 0 0;
	list-style: none;
	cursor: pointer;
	background: #fff;
	border: 1px solid #c8ccd0;
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15);
}
ul.mde-suggestions li {
	padding: 4px 8px;
	border-bottom: 1px solid #e1e4e8;
}
ul.mde-suggestions li:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
ul.mde-suggestions li:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
ul.mde-suggestions li:hover,
ul.mde-suggestions li[aria-selected='true'] {
	color: white;
	background-color: #0366d6;
} */
