#root {
	--color-100: #ffffff;
	--color-200: #f5f5f5;
	--color-300: #e4e4e4;
	--color-400: #c1c4cb;
	--color-500: #7c8187;
	--color-600: #5a6069;
	--color-700: #35393f;
	--color-800: #2b2d31;
	--color-900: #1d1f22;
	--color-1000: #151619;
	--accent: #e46643;
	--accent-light: #f39765;
	--font-primary: 'Roboto', sans-serif;
	--font-secondary: 'Roboto Slab', monospace;
	--sidebar-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.App {
	width: 100%;
	overflow: hidden;
	font-family: var(--font-primary);
	font-size: 15px;
	position: relative;
}
[data-theme='dark'].App {
	background-color: var(--color-1000);
	color: var(--color-400);
}
main.sidebar-open {
	transform: translate3d(250px, 0, 0);
	transition: var(--sidebar-transition);
}
.main {
	/* background-color: var(--color-1000); */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	transition: var(--sidebar-transition);
}

/* FONTS */
.heading-M {
	font-family: var(--font-primary);
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
}
.heading-S {
	font-family: var(--font-primary);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 2px;
}
.body-S {
	font-family: var(--font-primary);
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
}

/* Buttons */
.button {
	font-family: var(--font-primary);
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: var(--color-100);
	background-color: var(--accent);
	padding: 12px 24px;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.button:hover {
	background-color: var(--accent-light);
}

.width-100 {
	width: 100%;
}

.color-100 {
	color: var(--color-100);
}
.color-200 {
	color: var(--color-200);
}
.color-300 {
	color: var(--color-300);
}
.color-400 {
	color: var(--color-400);
}
.color-500 {
	color: var(--color-500);
}
.color-600 {
	color: var(--color-600);
}
.color-700 {
	color: var(--color-700);
}
.color-800 {
	color: var(--color-800);
}
.color-900 {
	color: var(--color-900);
}
.color-1000 {
	color: var(--color-1000);
}
